<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }} - Speed Bars & Engineering Projects{% endif %}</title>
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  {% feed_meta %}
  {% seo %}
</head>
<body>
  {% include nav.html %}

  <main class="main-content">
    <div class="site-container">
      {{ content }}
    </div>
  </main>

  {% include footer.html %}
</body>
</html>
